* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family:Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin:0;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
    grid-row:1 / 2;
    grid-column:2 / -2;
}
header a{
    color:#ffffff;
    text-decoration: none;
}
header h1 {
    line-height: 140%;
    padding: .5rem;
}

nav {
    font-weight:bold;
    background-color: #424242;
    padding:0;
    margin:0;
    position:sticky;
    top:0;
}
nav ul {
    padding:0;
    margin:0;
    display:flex;
    flex-flow: row nowrap;
    list-style-type:none;
}
nav ul li {
    width:100%;
}

nav a {
    text-decoration: none;
    color:#ffffff;
    padding:1rem 0rem;
    display:block;
    text-align:center;
}
nav a:hover {
    background-color:#BA1C21;
}
main img {
    float: right;
    padding-left: 2em;
}
h1 {
    background-image:url(images/utahtechlogo.svg);
    background-position:right;
    background-repeat:no-repeat;
    padding-left:1em;
    background-origin:content-box;
    margin:0;


}
h2 {
    color: #424242;
    font-family:Georgia, serif;
}
h3 {
    color:#003058;
}
dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

#wrapper {
   display:grid;
   grid-auto-rows: minmax(0, auto);
   grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
#students {
    width:300px;
}

#homehero {
    height:300px;
    background-image:url("images/homehero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    grid-row:3 / 4;
    grid-column:2 / -2;

}
#studenthero {
    height:300px;
    background-image:url("images/studenthero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    grid-row:3 / 4;
    grid-column:2 / -2;
}
#facultyhero {
    height:300px;
    background-image:url("images/facultyhero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    grid-row:3 / 4;
    grid-column:2 / -2;
}
footer {
    grid-row:5 / 6;
    grid-column:2 / -2;
}
main {
    grid-row:4 / 5;
    grid-column:2 / -2;
    background-color:#ffffff;
}
nav {
    grid-row:2 / 3;
    grid-column:2 / -2;
}
header {
    grid-row:1 / 2;
    grid-column:2 / -2;
}