#wrapper {
   display:grid;
   grid-auto-rows: minmax(0, auto);
   grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
#logo {
    height:80px;
    width:80px;
    grid-row:1 / 2;
    grid-column:1 / -1;
    place-self:center;
    margin:25px 0px 0px 0px;
    background-image: url("images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
header {
    background-color:white;
    height:105px;
    grid-row:1 / 2;
    grid-column:1 / -1;
}

nav {
    background-color: rgba(137, 213, 227, 0.763);
    height: 40px;
    grid-row:2 / 3;
    grid-column:1 / -1;
    text-align:center;
    padding: .5rem .5rem .5rem 2rem;
}
#hero {
    background-color: blue;
    height: 600px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}
main {
    background-color:yellow;
    height:400px;
    grid-row:5 / 6;
    grid-column:1 / -1;
    margin:0px 10px;
}
footer {
    background-color: rgba(137, 213, 227, 0.763);
    height:100px;
    grid-row:6 / 7;
    grid-column:1 / -1;
}
body {
    background-color:white;
    margin:0px;
}
nav a {
    color: rgb(82, 78, 78);
    text-decoration: none;
    font-family:"Nunito", sans-serif;
    font-style: normal;
    font-size:1.2em;
    margin: 10px;
    padding:2em;
}
    
nav a:hover {
    font-size:1.3em;

}

#hero {
    height: 700px;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#logo {
    background-image:url(images/logo.png);
    background-position:right;
    background-repeat:no-repeat;
    padding-left:1em;
    background-origin:content-box;
    margin:0;
}
#spacer {
    background-color: rgba(137, 213, 227, 0.763);
    height: 60px;
    grid-row:4 / 5;
    grid-column:1 / -1;
    text-align:center;
}
#assets {
    background-image:url(images/assets.jpg);
    background-position:left;
}
section {
display:flex;
justify-content: space-between;
}