*{
    box-sizing:border-box;
}
img {
    width:100%;
}
a {
    color:darkcyan;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
nav ul li a:hover {
    background-color:aqua;
}
header {
    background-color: rgb(196, 201, 116);
    color:darkslategrey;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
        font-weight: bold;
    font-style: normal;
}

h1 {
    font-size: 70px;
    text-shadow: 5px 5px 1px rgb(211, 175, 175);
}
nav {
    position: sticky;
    top:0px;
    z-index: 1;
    border:2px solid rgb(177, 197, 214);
    border-radius: 7px;
    height:60px;
    text-align:center;
}
nav ul li{
    display:inline-block;
    padding:5px 5px 5px 5px;
    background-color:rgb(177, 197, 214);
    text-align:center;
    
}
.myimage {
    width: 300px;
    height: 350px;
    float: left;
}
.clear {
    clear:both;
}
.otherimage {
    height:400px;
    background-image:url("Images/IMG_1060.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
}
.column {
    float: left;
    margin: none;
    background-color:#eee;
    padding: 10%;
}