body {
    background-color: #FFFFFF;
    color: #666666;
    font-family:Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

header h1 {
    line-height: 140%;
    padding: .5rem
}

nav {
    font-weight:bold;
    background-color: #F3F3F3;
    padding: .5rem .5rem .5rem 2rem;
}

nav a {
    text-decoration: none;
}
h1 {
    background-image:url(images/utahtechlogo.svg);
    background-position:right;
    background-repeat:no-repeat;
    padding-left:1em;
    background-origin:content-box;
    margin-bottom:0;

}
h2 {
    color: #424242;
    font-family:Georgia, serif;
}
h3 {
    color:#003058;
}
dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

#wrapper {
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color:#ffffff;
    box-shadow: 0px 5px 5px rgba(66,66,66,0.3);
    
}
#students {
    width:300px;
    background-image:url("images/students.jpg") alt: "some students";
    width: 300px;
}

#homehero {
    height:300px;
    background-image:url("images/homehero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;

}
#studenthero {
    height:300px;
    background-image:url("images/studenthero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}
#facultyhero {
    height:300px;
    background-image:url("images/facultyhero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}